/*font-family*/
@font-face {
    font-family: "value";
    src: url(fonts/value.woff)
}

@font-face {
    font-family: "value-medium";
    src: url(fonts/value-medium.woff)
}

@font-face {
    font-family: "value-bold";
    src: url(fonts/value-bold.woff)
}

@font-face {
    font-family: "value-black";
    src: url(fonts/value-black.woff)
}

@font-face {
    font-family: "value-serif";
    src: url(fonts/value-serif.ttf)
}

@font-face {
    font-family: "value-italic";
    src: url(fonts/value-italic.woff)
}

/* Header */
header { 
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-bottom: 0.5mm dashed rgb(0, 0, 0);
    }

header ul {
    float: right;
    color: black;
    font-family: "value-bold";
    font-size: 25px;
    padding: 10px;
}

header li {
    display: inline-block;
    padding: 0px 7px;
}


.main-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.main-menu a {
margin: 0 20px;
text-decoration: none;
font-family: "value-bold", sans-serif;
font-size: 25px;
color: #1A1713;
}

.main-menu a:hover {
margin: 0 20px;
text-decoration: none;
font-family: "value-black", sans-serif;
font-size: 25px;
color: #54CBF1;
}

/* Work */
h1{
    padding-left: 10%;
    font-size: 230%;
    font-family: "value-bold", sans-serif;
    font-size: 40px;
    padding-top: 1%;
}

.allThree{
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 5%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 25% 25%;
    grid-template-areas:
    "topDivGrid"
    "midDivGrid"
    "bottomDivGrid";
    font-family: "value", sans-serif;
    font-size: 20px;
    line-height: 1.2;
}
.topDiv{
    grid-area: topDivGrid; 
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 150% 150%;
    grid-gap: 50px;
    grid-template-areas:
    "PatriotaImageGrid PatriotaHeadTextButtGrid";
}
.midDiv{
    grid-area: midDivGrid;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 150% 150%;
    grid-gap: 50px;
    grid-template-areas:
    "recessImageGrid recessHeadTextButtGrid";
}
.bottomDiv{
    grid-area: bottomDivGrid;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 150% 150%;
    grid-gap: 50px;
    grid-template-areas:
    "roseImageGrid roseHeadTextButtGrid";
}
.patriotaImage img{
    width: 100%;
    grid-area: PatriotaImageGrid;
}
.PatriotaHeadTextButt{
    grid-area: PatriotaHeadTextButtGrid;
}
.recessImage img{
    width: 100%;
    grid-area: recessImageGrid;
}
.recessHeadTextButt{
    grid-area: recessHeadTextButtGrid;
}
.roseImage img{
    width: 100%;
    grid-area: roseImageGrid;
}
.roseHeadTextButt{
    grid-area: roseHeadTextButtGrid;
}


a.button:link, a.button:visited {
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
    border: 0px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-family: "value-medium";

}

a.button:hover, a.button:active {
    border-radius: 8px;
    background-color: #54CBF1;
    border: 2px solid white;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    font-family: "value-medium";

}
/* Footer */
.footer {
    padding: 10px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.5mm dashed rgb(0, 0, 0);
}

.copyright{
    font-family: value-italic, sans-serif;
    font-size: 15px;
    color: black;
}

.contact {
        display: flex;
        justify-content: flex-end;
}

.contact img {
    width: 25px;
    height: auto;
}

.contact li{
    list-style-type: none;
    padding: 12%;
    width: 25px;
    height: 25px;
}

a.instagram:link, a.instagram:visited {
    background-color: white;
    color: white;
    padding: 0;
    display: inline-block;
    border: 0px;
    cursor: pointer;

}

a.instagram:hover, a.instagram:active {
    border: 0px;
    cursor: pointer;

}


/* Mobile Media Query */
@media screen and (max-width: 600){
    body{
        flex-direction: column;
        width: 100%;    
        background-color: red;
    }
}
